<div class="dashboard">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <h2>{{ email }}</h2>
    <p>Rol: {{ rol }}</p>

    <div class="role-card">
      <strong>{{ roleTitle }}</strong>
      <span>{{ roleDescription }}</span>
    </div>

    <nav class="menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Dashboard
      </a>
      <a routerLink="/proyectos" routerLinkActive="active">
        Proyectos
      </a>
      <a *ngIf="canManageProjects" routerLink="/nuevo" routerLinkActive="active">
        Nuevo proyecto
      </a>
      <a *ngIf="canManageStudents" routerLink="/crear-actividad" routerLinkActive="active">
        Crear actividad
      </a>
      <a *ngIf="canManageStudents || canManageProjects" routerLink="/solicitudes" routerLinkActive="active">
        Solicitudes
      </a>
      <a *ngIf="isEstudiante" routerLink="/mis-solicitudes" routerLinkActive="active">
        Mis solicitudes
      </a>
      <a *ngIf="isEstudiante" routerLink="/registro-horas" routerLinkActive="active">
        Registrar horas
      </a>
      <a *ngIf="isEstudiante" routerLink="/mis-horas" routerLinkActive="active">
        Mis horas
      </a>
      <a *ngIf="canManageStudents" routerLink="/aprobacion-horas" routerLinkActive="active">
        Aprobar horas
      </a>
      <a *ngIf="canManageProjects" routerLink="/usuarios" routerLinkActive="active">
        Usuarios
      </a>
      <a routerLink="/perfil" routerLinkActive="active">
        Mi perfil
      </a>
    </nav>

    <div class="back-button">
      <button type="button" (click)="logout()">Cerrar sesión</button>
    </div>

  </aside>

  <!-- CONTENIDO -->
  <main class="content">
    <!-- Aquí Angular dibuja el componente según la URL -->
    <router-outlet></router-outlet>
  </main>

</div>
